*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(./pics/pergamen.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}

.szoveg{
    margin: 0 25% 0 25%;   
    font-size: 1.5em;
    text-align: justify;
}

.szoveg h1{
    padding: 10px;
    text-align: center;  
}

.szoveg h3{
    padding: 10px 0 10px 0;
}

.szoveg p{
    padding: 10px 0 10px 0;
}

#istvan{
    width: 20%;
    float: right;
    padding: 7px;
}

#kep{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(199, 170, 127);
    font-family: 'Varela Round', sans-serif;
    min-height: 10vh;
    width: 100%;
}

.cim{
    font-size: 30px;
}


.linkek{
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style: none;
}

.linkek a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#aktiv{
    text-decoration: underline;
}

.linkek a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(104, 101, 101);
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1349px){
    body{
        overflow-x: hidden;
    }

    .linkek{
        position: absolute;
        right: 0;
        height: 100%;
        top: 9.7vh;
        background-color: rgb(199, 170, 127);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        transform: translateY(-117%);
        transition: transform 0.5s ease-in;
    }

    .linkek li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
  
    #istvan{
        width: 25%;
        float: right;
        padding: 7px;
    }  

    .szoveg{
        margin: 0 80px 0 80px;
    }
}

@media screen and (max-width: 800px){
    body{
        overflow-x: hidden;       
    }

    .linkek{
        position: absolute;
        top: 9.7vh;
        background-color: rgb(199, 170, 127);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        transform: translateY(-110%);
        transition: transform 0.5s ease-in;
    }

    .linkek li{
        opacity: 0;
    }

    .burger{
        display: block;
        margin-right: 10px;
    }
  
    #istvan{
        width: 25%;
        float: right;
        padding: 7px;
    }

    .cim h3{
        font-size: 20px;
        margin-left: 10px;
    }

    .szoveg{
        margin: 0 15px 0 15px;
    }
}

.nav-active{
    transform: translateY(0);
    padding-bottom: 50px;
    position: fixed;
}

.fixed{
    position: fixed;
}

@keyframes navlinkfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .vonal1{
    transform: rotate(-45deg) translate(-2px, 11px);
}
.toggle .vonal2{
    opacity: 0;
}
.toggle .vonal3{
    transform: rotate(45deg) translateY(-10px);
}

.rickroll{
    z-index: 1000;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
    width: 10px;
    height: 10px;
}
